{% extends 'base.html' %}


<title>
    {% block title %}
        {{ instance.title }} | {{ block.super }}
    {% endblock title %}
</title>

{% block post_detail_link %}

<li><a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a></li>
{% endblock %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        {% if instance.image %}
            <img src="{{ instance.image.url }}" class="img-responsive">
        {% endif %}
        <h1>{{ title }} <small>
            {% if instance.draft %}
                <span style="color: red"> (Draft) </span>
            {% endif %}
            {{ instance.publish}}</small></h1>
        {% if instance.user.get_full_name %}
            <p>Author : {{ instance.user.get_full_name }}</p>
        {% endif %}


        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
            Facebook
        </a>

        <a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">
            Twitter
        </a>

        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}
        /&title={{ instance.title }}summary={{ share_string }}source={{ request.build_absolute_uri }}/">
            Linkedin
        </a>

        <hr>
        {# markdown with javascript or django #}
        {#pip install django-markdown-deux#}
        {#add to INSTALLED_APPS (settings.py) --> markdown_deux#}
        {#for finish add the filter markdown to instance.content  --> {{instance.content | markdown}}#}
        {#Just a note if you use this, place {% load markdown_deux_tags %} into the post_detail.html and not the base,#}
        <div class="row">
            <div class="col-sm-12 ">
                <div class="content-markdown post-detail-item">{{ instance.get_markdown}}</div><br/>

                <hr>

                <div class="fb-like" data-href="{{ request.build_absolute_uri }}"
                     data-layout="button_count" data-action="like"
                     data-size="small" data-show-faces="false" data-share="true">
                </div>

                <div class="fb-comments"
                     data-href="{{ request.build_absolute_uri }}"
                     data-numposts="5">
                </div>

            </div>
        </div>
    </div>

{% endblock content %}